@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
} */

html {
  overflow-x: hidden !important;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* height: 100%;
  overflow-x: hidden !important; */
}
@media (max-width: 768px) {
  .slider_move {
    width: 100px;
    height: 100px;
    animation: move-and-hide 1.5s forwards;
  }
}

@keyframes move-and-hide {
  0% {
    transform: translateX(0px);
    opacity: 1;
  }

  70% {
    transform: translateX(0px);
    opacity: 1;
  }

  80% {
    transform: translateX(-50px);
    opacity: 1;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* From Uiverse.io by Shoh2008 */
.loaderImage {
  width: 64px;
  height: 64px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.loaderImage:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 1s infinite ease-in-out alternate;
}

.loaderImage:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 1s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

.main-index {
  /* position: fixed; */
  inset: 0;
  overflow: hidden;
  /* display: grid; */
  place-items: center;
}

.IconsByChoosing {
  padding: 0.7%;
  margin-left: 5px;
  /* margin-right:2px; */
  color: rgb(78, 72, 72);
}

.loader {
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
  top: 45%;
  transform: translateY(-50%);
  animation: rotation 0.3s linear infinite;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ListWithChooseContainer {
  z-index: 99;
  position: absolute;
  top: 30px;
  width: 100%;
  /* width: 15vw; */
  background-color: white;
  border-bottom: 1px solid rgb(147, 146, 146);
  border-left: 1px solid rgb(147, 146, 146);
  border-right: 1px solid rgb(147, 146, 146);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.InputsStyleContainer {
  font-weight: 100;
  position: relative;
  display: flex;
  /* flex-direction: column; */
  /* align-items: start; */
  /* margin-top:10px; */
  /* margin-bottom:10px; */
  /* width: 15vw; */
}

div.InputsStyleContainer p {
  font-weight: 500;
}

.InputsStyleFromTo {
  position: relative;
  display: flex;
  align-items: center;
  /* width: 15vw; */
  height: 40px;
  background-color: white;
}

.InputsProps {
  min-width: 1vw;
  font-weight: 500;
  /* border: 1px solid rgb(147, 146, 146); */
  padding-left: 6px;
  /* border:2px solid black; */
  border-radius: 4px;
  /* width:100%; */
  /* height: 100%; */
  outline: none;
}

.InputsProps::placeholder {
  color: rgb(44, 43, 43);
}

.sitesArrow {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  margin: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.ActiveSite {
  background-color: red;
  color: white;
}

.main-view {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin-top: -12vh;
  transition: 0.7s;
}

.main-view-scrolled {
  overflow: hidden;
  width: 100vw;
  height: 15vh;
  transition: 0.7s;
}
.main-video {
  width: 100%;
  margin: auto;
  height: 116%;
}
.property-card-price {
  font-weight: 700;
  color: white;
}
.property-data-specyfication-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  /* background-color:rgb(213, 209, 209); */
  margin: 0 auto;
  width: 90%;
  height: 85%;
}

.property-card-data-gallery-container {
  position: relative;
  display: flex;
  height: 80px;
}

.property-card-data-gallery {
  display: flex;
  flex-wrap: nowrap;
  /* width:500%; */
}

.property-card-data-gallery-arrow-right {
  position: absolute;
  width: 30px;
  right: 0;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  /* border:2px solid black; */
  /* background-color:white; */
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 20 20%22%3E%3Cpath d=%22M7 7l5 5 5-5%22/%3E%3C/svg%3E")
    no-repeat scroll right center;
  padding-left: 5px;
  background-size: 20px;
  padding-right: 20px; /* Dopasuj to, aby zmieściła się strzałka */
}

.clickedSlideLeftGallery {
  margin-left: -105px;
  transition: 0.4s;
}

.clickedSlideRightGallery {
  margin-left: -160px;
  transition: 0.4s;
}

.company-base {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  width: 40%;
}

.descrytpion-container {
  padding: 2%;
  width: 83%;
  border-radius: 10px;
  margin: 0px auto;
  background-color: white;
}

.features-container {
  display: flex;
  border-radius: 10px;
  width: 83%;
  background-color: white;
  margin: 10px auto;
}

.contact-form-container {
  padding: 2%;
  width: 83%;
  background-color: white;
  border-radius: 10px;
  margin: 10px auto;
}

.contact-form-in-property-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 10px auto;
}

.cf-input-property-card {
  /* border: 1px solid black; */
  box-shadow: 2px 1px 5px 0px;
  margin: 0px 0px 6px 0px;
  border-radius: 5px;
}

@layer components {
  .InputsStyleContainer {
    @apply font-normal text-sm
    /* font-weight: 100;
    position:relative;
    display:flex;
    flex-direction: column;
    margin-top:10px;
    width: 15vw; */;
  }

  .choices {
    @apply bg-red-600/[0.9] m-[1px] flex text-[14px] h-[20px] items-center justify-between pl-2 pr-1 w-[120px] rounded-[5px] rounded-l-[4px] border-gray-600 mx-[2px] cursor-pointer text-white font-[500];
  }

  .choices-city {
    @apply bg-red-600/[0.9] m-[1px] flex text-[14px] h-[20px] min-w-[90px] items-center justify-between pl-2 pr-1 rounded-[5px] border-gray-600 mx-[2px] cursor-pointer text-white font-[500];
  }

  .choices-city-many {
    @apply bg-red-600/[0.9] m-[1px] flex text-[14px] h-[20px] min-w-[88px] items-center justify-between pl-2 pr-0 rounded-[5px] border-gray-600 rounded-l-[4px] mx-[1px] cursor-pointer text-white font-[500];
  }

  .choices-type {
    @apply bg-red-600/[0.9] m-[1px] flex text-[14px] h-[20px] items-center justify-between pl-2 pr-1 w-[120px] rounded-[5px] border-gray-600  cursor-pointer text-white font-[500];
  }

  .choices-market {
    @apply bg-red-600/[0.9] flex text-[14px] h-[20px] items-center justify-between pl-2 pr-1 w-[120px] rounded-[5px] border-gray-600  mx-[2px] cursor-pointer text-white font-[500];
  }

  .applyButton {
    @apply absolute right-0 top-0 bg-green-700 py-[1px] text-white text-xs text-center cursor-pointer w-1/3 rounded-md;
  }

  .close-icon {
    @apply cursor-pointer w-4 text-white;
  }

  .InputsStyle {
    @apply relative flex items-center  bg-white;
  }

  .choosed-multiple-option-region {
    @apply flex bg-red-400 font-normal text-white rounded-md px-1 cursor-pointer m-[1px];
  }

  .choosed-multiple-option-multiple {
    @apply flex justify-between text-white font-normal items-center bg-red-400 rounded-md px-1 cursor-pointer h-6 m-[1px];
  }

  .choosed-multiple-option-beds {
    @apply flex justify-between text-white left-0 top-16 items-center bg-red-400 text-xs rounded-md px-1 cursor-pointer h-6;
  }

  .choosed-multiple-option-price {
    @apply flex justify-between text-white left-0 font-normal top-16 items-center bg-red-400 text-xs rounded-md px-1 cursor-pointer;
  }

  .element-how-we-work-container {
    @apply xl:w-1/3 sm:w-1/2 w-full h-96 border border-white flex justify-center items-center;
  }

  .element-how-we-work-container-in {
    @apply w-[90%] py-3 px-[4px] md:px-3 text-black rounded-xl bg-white flex justify-start items-center flex-col h-[90%] border-2 border-yellow-500;
  }

  .element-how-we-work-container-in-p {
    @apply text-center py-5 text-2xl text-black font-semibold;
  }
  .element-how-we-work-container-in-desc {
    @apply text-center py-5 text-base text-black;
  }

  .main-country-crousel {
    @apply text-6xl font-bold;
  }

  .visible {
    @apply opacity-100 transition-all duration-700;
  }

  .novisible {
    @apply opacity-0 transition-all duration-700;
  }

  .listScrolled {
    @apply text-white pl-4 pr-4 list-none cursor-pointer 
    hover:border-b z-50;
  }

  .list {
    @apply ml-7 font-[300] px-1 list-none cursor-pointer leading-[18px] lg:text-[15px] xl:font-[400] text-2xl mt-[30px] md:mt-[0px];
  }

  .listToChoose {
    @apply text-black font-normal pl-4 pr-4 list-none hover:bg-yellow-500/[0.2] hover:cursor-pointer hover:font-semibold;
  }
  .socialicons {
    @apply p-1 object-contain cursor-pointer flex justify-center items-center !important;
  }

  .topheaderel {
    @apply w-44 border-l-2 border-l-gray-100 pl-4 pr-4 flex justify-center items-center text-white;
  }

  .iconscosialheader {
    @apply mx-1 w-4 h-4 text-gray-800/[0.5] transition cursor-pointer hover:text-red-700;
  }

  .inputs-add-property-label {
    @apply mt-2;
  }

  .inputs-add-property {
    @apply border-2 text-[24px];
  }

  .inputs-add-property-textarea {
    @apply border;
  }

  .button-search {
    @apply border-red-600 w-[100px] px-[6px] m-[1px] py-[10px] rounded-md duration-150 text-center text-[15px] font-[500] text-white hover:bg-white hover:text-black;
  }

  .list-element-blog {
    @apply mb-[10px];
  }

  .scroll-downs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -240px;
    margin: auto;

    width: 40px;
    height: 40px;
  }
  .mousey {
    width: 3px;
    padding: 10px 10px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #000000;
    animation-name: scroll;
    animation-duration: 1.5s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% {
      opacity: 0;
    }
    10% {
      transform: translateY(0);
      opacity: 1;
    }
    80% {
      transform: translateY(10px);
      opacity: 1;
    }
    100% {
      transform: translateY(15px);
      opacity: 0.3;
    }
  }
}
